.destaques {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-gap: .2rem;
  /* aluta deste container - deve ocupar toda tela a partir do header  (alt 50px) */
  height: calc(100vh - 50px);
}

.caixa {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    background: #dcdcdc;
}

.destaques__principal {
  background: url("../img/fortnite.jpg") center / cover no-repeat;
  grid-row: 1 / 3;
  /* grid-column: 1 / 4; - vai mudar no meddiaquery*/
  /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; */
}

.destaques__titulo {
    width: 100%;
    padding: 0.6rem;

    background: rgba(0,0,0,0.5);
    color: #fdfdfd;
}

.destaques__secundario:nth-child(2) { /*PUBG*/
  background: url("../img/pubg.jpg") center / cover no-repeat;
  /* grid-column: 4 / 4; começa na coluna 4 e acaba na coluna 4 */
  grid-row: 1 / 1; /* começa na coluna 1 e acaba na coluna 1*/
}

.destaques__secundario:nth-child(3) { /*SLACK*/
  background: url("../img/slack.png") center / cover no-repeat;
  /* grid-column: 4 / 4; */
  grid-row: 2 / 2;
}

.destaques__secundario:nth-child(4) { /*WHATSAPP*/
  background: url("../img/whatsapp.png") center / cover no-repeat;
  /* grid-column: 3 / 4; */
  grid-row: 3 / 3;
}

.destaques__secundario:nth-child(5) { /*CSGO*/
  background: url("../img/cs-go.jpg") center / cover no-repeat;
  /* grid-column: 4 / 4; */
  grid-row: 3 / 3;
}

.destaques__categorias {
  /* grid-column: 1 / 3; */
  grid-row: 3 / 3;
}

.destaques__categorias___lista {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.destaques__categorias___item {
  width: 50%;
  padding: 1rem;
  background: #fdfdfd;
  color: #333;

  /*sem o display flex o align-items nao funciona*/
  display: flex;
  align-items: center;
  border-left: 5px solid transparent;
}

.destaques__categorias___link {
    color: inherit;
}